<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../templates/style/nature.css">
    <title>Look deep into nature</title>
</head>

<body>
    <div class="grid_container">
        <div class="grid_cell cell-1 cell-short"></div>
        <div class="grid_cell cell-2 cell-long">
            <div class="cell_content-head">
                <h2>Look deep into nature</h2>
            </div>
        </div>
        <div class="grid_cell cell-3 cell-short">
            <div class="cell_content">
                <img src="../templates/img/photo-camera-svgrepo-com.svg" alt="photo">
                <h4>Photography</h4>
                <p>Nature will bear the closest inspection. She invites us to lay our eye level with her smallest leaf,
                    and
                    take an insect view of its plain.</p>
            </div>

        </div>
        <div class="grid_cell cell-4 cell-short"></div>
        <div class="grid_cell cell-5 cell-short"></div>
        <div class="grid_cell cell-6 cell-long"></div>
        <div class="grid_cell cell-7 cell-short">
            <div class="cell_content">
                <img src="../templates/img/backpack-svgrepo-com.svg" alt="hiking">
                <h4>Hiking</h4>
                <p>The beauty about hiking is that it's truly an activity for everyone. Whether you're young or old, an
                    expert or an amateur, there's a trail out there that will be perfect for you.</p>
            </div>
        </div>
    </div>

</body>

</html>