/*POSITION*/
body, html{
    margin: 0;
}

.parent {
    border: solid 2px black;
    background-color: blueviolet;
    width: 70vw;
    height: 40vh;
    padding: 10px;
    margin: 50px;
    position: relative;
}

.child{
    border: solid 2px black;
    height: 10vh;
}

.ch1{
    background-color: red;
    position: absolute;
    top: 0px;
    left: 0px;

}
.ch2{
    background-color: green;
    position: fixed;
    top: 0px;
    left: 0px;
}
.ch3{
    background-color: yellow;
    position: sticky;
    top: 200px;
}
/*DISPLAY*/
.displays{
    position: relative;
    border: solid 2px black;
    width: 60vw;
    height: 50vh;
    margin: 50px;
}
img{
    width: 150px;
    height: 150px;
    /* opacity: 0; */
    /* display: none; */
    /* visibility: hidden; */
}
.block{
    /* display: inline; */
    border: solid 2px black;
    margin: 5px;
    background-color: aqua;
    height: 50px;
}
span{
    /* display: block; */
    background-color: coral;
    font-size: x-large;

}
