@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
    --basic-background-color: #f77f00;
    --transparent-background-color: #f7800057;
    --basic-text-color: #003049;
    --basic-text-align: center;
    --accent-color: #d62828;
    --light-color: #eae2b7;
    --basic-padding: 30px;


}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: url('../img/sunset.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: blur(5px); */

}

.box {
    width: 500px;
    padding: var(--basic-padding);
    background-color: var(--transparent-background-color);
    text-align: var(--basic-text-align);
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form_item {
    margin: 10px;
    width: 60%;
    height: 30px;
    text-align: var(--basic-text-align);
}
.form_item:active{
    transform: scale(1.05);
}
input{
    border-color: var(--accent-color);
}

.submit {
    background-color: var(--accent-color);
    width: 40%;
    color: var(--light-color);
    font-weight: 600;
    margin-top: 5%;
}
.submit:hover{
    background-color: var(--basic-text-color);
    color: var(--light-color);
    transform: scale(1.01);
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;


}

h1 {
    color: var(--basic-text-color);
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 5%;
}


footer {
    background-color: var(--basic-background-color);
    color: var(--basic-text-color);
    text-align: var(--basic-text-align);
    padding: var(--basic-padding);
    margin-top: 15%;

}